@import "./variables.scss";

.add-btn{
    border-style: none;
    background-color: rgb(7, 235, 7);
    padding: 5px;
    border-radius: 20px;
}
.remove-btn{
    border-style: none;
    background-color: rgb(195, 30, 30);
    color: white;
    padding: 5px;
    border-radius: 20px;
    margin-right: 20px;
}
.payment-btn{
    background-color: $secondary;
    color: $primary;
}
.payment-btn:hover{
    background-color: $primary;
    color: $secondary;
}
.card-body{
    padding: 30px;
    font-size: small;
}
.offcanvas-body {
    padding: 0px;
}
.tot-pay{
    font-size: medium;
    font-weight: bold;
}
.h5-cart {
    color: $primary;
}
.span-price{
    padding: 5px;
}
.span-price > p {
    font-weight: bold;
}