@import "./variables.scss";


.container-checkout{
    background-color: $tertiary;
    padding-top: 150px;
    padding-bottom: 100px;
}
.container{
    background-color: $primary;
    color: $secondary;
    border-radius: 30px;
}
.container > .row{
    margin-top: 10px;
}
.container-list-group{
    background-color: $tertiary;
    border-radius: 30px;
}
.container-list-group > .list-group {
    border-radius: 20px;
}
.container-list-group > .list-group > .list-group-item {
    background-color: $tertiary;
}
.btn-submit{
    background-color: $tertiary;
    color: $primary;
}
ul,ol
{
    list-style: none;

    li
    {
        padding: 10px;
        color: rgb(0, 0, 0);
    }
}

.add-btn{
    background-color: $secondary;
    margin-top: 30px;
    border: none;
    border-radius: 20px;
}
#plates-list{
    color: black;
    padding-top: 10px;
    padding-bottom: 10px;
    min-height: 100px;
}
.badge{
    background-color: $secondary;
    color: $primary;
    font-size: 1.2em;
}