// IMPORTAZIONE VARIABILI
@import "./variables.scss";


* {
    text-decoration: hidden;
}
a {
    //background-color: #39526A;
    color: $secondary;
    text-decoration: none;
}
a:hover {
    text-decoration: underline solid;
    text-decoration-color: $primary;
    line-height: 1.5;
    
}