// IMPORTAZIONE VARIABILI
@import "./variables.scss";


* {
    text-decoration: hidden;
}
a {
    //background-color: #39526A;
    color: $secondary;
    text-decoration: none;
}
a:hover {
    text-decoration: underline solid 3px;
    text-decoration-color: $primary;
    line-height: 1.5;
}
h5{
   color: $secondary;
}
.btn-footer{
    background-color: $secondary;
    color: $primary;
    margin-top: 10px;
    font-weight: bold;
}
.btn-footer:hover{
    color: $secondary;
}