// IMPORTAZIONE VARIABILI
@import "./variables.scss";

.navbar {
    background-color: $primary;
    height: 80px;
    margin: 20px;
    border-radius: 16px;
    padding: 0.5rem;
}

.offcanvas-body, .offcanvas-header{
    background-color: $primary;
}
.offcanvas-body > ul > li > a:hover {
    color: white;
}
.navbar-brand{
    font-weight: 500;
    color: $secondary;
    font-size: 24px;
    transition: 0.3s color;
}
.login-button {
    background-color: $secondary;
    color: $primary;
    font-size: 14px;
    font-weight: bold;
    padding: 8px 20px;
    border-radius: 50px;
    text-decoration: none;
    transition: 0.3s background-color;
}

.login-button:hover {
    background-color: $primary;
    color: $secondary ;
}

.navbar-toggler {
    border: none;
    font-size: 1.25rem;
    background-color: $secondary;
    margin-left: 10px;
}

.navbar-toggler:focus, .btn-close:focus{
    box-shadow: none;
    outline: none;
}

.nav-link {
    color: $secondary;
    font-weight: 500;
    position: relative;
}

.nav-link:hover, .nav-link.active {
    color: $secondary;
}

@media (min-width: 991px) {

    .nav-link::before{
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        width: 0;
        height: 2px;
        background-color: $primary;
        visibility: hidden;
        transition: 0.3s ease-in-out;
    }

    .nav-link:hover::before{
        width: 100%;
        visibility: visible;
    }

    .nav-link:hover::before, .nav-link.active::before{
        width: 100%;
        visibility: visible;
    }
}