//CAROSELLO
.carousel {
    background-color: #F7CD1F;
}
.carousel-item{
    background-color: #39526A;
}
.img-wrapper{
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

img{
    max-width: 100%;
    max-height: 100%;
}
@media screen and (min-width:576px){
    .carousel-inner {
        display: flex;
    }
    .carousel-item {
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100/3);
    }
    .img-wrapper{
        height: 23vw;
    }
}

.carousel-inner{
    padding: 1em;
}
.card {
    margin: 0.5em;
}
.card-map{
    background-color: #39526A;
    color: #F7CD1F;
}
.card > .img-wrapper, .card-body {
    background-color: #F7CD1F;
}
//STILE SEZIONE MAPS
h6{
    text-transform: uppercase;
}
.section-map{
    display: flex;
    align-items: center;
    min-height: 100vh;
    padding: 4em 0;  
    background-color:#39526A; 
}
.container-section-map{
    height: 800px;
}
.map-wrapper{
    height: 500px;
}
.map-wrapper iframe {
    width: 100%;
    height: 100%;
    filter: invert(1) grayscale(100%);
}
.main-content{
    z-index: 22;
    width: fit-content;
    color:#F7CD1F;
}
@media (max-width:600px) {
    .map-wrapper iframe {
        min-height: 140vh;
    }

}
.download-map-menu > .btn {
    background-color: #F7CD1F;
    color: #39526A;
    font-weight: bold;
}
.download-map-menu > .btn:hover{
    background-color: #39526A;
    color: #F7CD1F;
    border-color: #F7CD1F;
}
//categorie
.categories-container {
    background-color: #F7CD1F;
}
.card-img-top {
    border-radius: 50px;
    padding: 20px;
}
.categories-card {
    border-radius: 30px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-color: #39526A;
    color: #F7CD1F;
}
.categories-card > .card-body {
    padding: 25px;
    margin-top: -15px;
    background-color: #39526A;
    color: #F7CD1F;
}
.categories-card > .card-body > * {
    background-color: #39526A;
}
.categories-card > .d-flex > a {
    border-radius: 50px;
    width: 120px;
    color: #39526A;
    background-color: #F7CD1F;
}
.categories-card > .d-flex > a:hover {
    background-color: #39526A;
    color: #F7CD1F;
}
