$primary: #502314;
$secondary: #FF8732;
$tertiary: #D2BC9D;


/*
#FD7F00 (Arancio da Just Eat)
#FEC244 (Arancio/Giallo da Glovo)
#00A082 (Turquoise da Glovo)
#00CCBC (Turquoise da Deliveroo)
#FF9100 Arancio
#FFF75E Giallo
#49DCB1 Verde
#00CCBC Verde-Acqua

*/